/* ===== Colors ===== */
:root {
    --background-color: green;
    --section-color: lightgray;
    --button-color: aqua;
    --text-color: black;
    --outline-color: black;
    --active-color: blue;
    --active-text-color: white;
}

/* =====Main===== */
#logo {
    padding: 15px;
    width: 100px;
    height: auto;
}
body {
    background-color: var(--background-color);
    color: var(--text-color);
    gap: 10px;
    display: flex;
    flex-direction: column;
}

/* =====Content===== */
#copyright, #content, header {
    padding: 2.5%;
    margin: 0 auto;
    width: 90%;
    border-radius: 10px;
    font-weight: bold;
    color: var(--text-color);
}
#copyright, #content {
    background-color: var(--section-color);
    border: 5px solid var(--outline-color);
}
#copyright {
    text-align: center;
}
header {
    justify-content: center;
    padding: 0;
    display: flex;
    align-items: center;
}

/* =====Navigation===== */
.navigation{
    gap: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}
.nav{
    background-color: var(--button-color);
    border-radius: 7.5px;
    padding: 5px;
    padding-inline: 10px;
    text-decoration: none;
    color: var(--text-color);
    display:block;
    font-weight: bold;
    outline: 3px solid var(--outline-color);
    transition: all 0.1s;
    font-size: 30px;
}
.nav:hover {
    outline-width: 6px
}
.nav.active {
    background-color: var(--active-color);
    color: var(--active-text-color);
    /* outline: 4px solid var(--outline-color); */
}

/* =====Responsive===== */
@media (max-width: 700px) {
    header{
        flex-direction: column;
    }
    .nav{
        font-size: 20px;
    }
    #logo{
        width: 20%;
    }
}
